<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada's Blog</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
    {%- if page.extra.katex -%}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
    {%- endif -%}
    
    {%- if page.extra.tone_player -%}
    <link rel="stylesheet" href="{{ get_url(path='tone_player.css') }}">
    <script src="{{ get_url(path='tone_player.js') }}"></script>
    {%- endif -%}
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <a href="/"><img src="{{ get_url(path='logo.jpg') }}" alt="Logo" class="logo"></a>
                <h1 class="blog-title">Ada's Blog</h1>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer>
        <a href="https://github.com/spirali">
            <img src="{{ get_url(path='github.svg') }}" />
            github.com/spirali
        </a>
    </footer>
</body>

</html>
