<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada's Blog</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <a href="/"><img src="{{ get_url(path='logo.jpg') }}" alt="Logo" class="logo"></a>
                <h1 class="blog-title">Ada's Blog<h1>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>
</body>

</html>